:host {
  display: flex;
  min-height: 100vh;
}

.app-card {
  margin: auto;
  max-width: 400px;
  width: 50%;
  min-width: 200px;
}

.app-form {
  font-size: 20px;
}

.app-full-width {
  width: 100%;
}
