<mat-card class="app-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="app-form" novalidate>
      <mat-form-field appearance="outline" color="accent" class="app-full-width">
        <mat-label>Rejestracja wejść</mat-label>
        <input matInput formControlName="cardCode" autofocus (focus)="onFocus()" (blur)="onBlur()" autocomplete="off" />
        <mat-icon matSuffix>credit_card</mat-icon>
        <mat-hint *ngIf="isFocus">Skanuj kod</mat-hint>
        <mat-hint *ngIf="!isFocus">Kliknij pole</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
